{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
 "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "forOf": true,
            "jsx": true,
            "es6": true,
            "experimentalObjectRestSpread" : true
        },
    },
    "rules": {
        "no-shadow": 0,
        "comma-dangle": 2,
        "indent": 2,
        "react/prop-types": 2,
        "react/jsx-indent-props" : 2,
        "react/jsx-closing-bracket-location" : 2,
        "object-curly-spacing" : 2,
        "arrow-body-style": 2,
        "no-console": 1,
        "max-len": 2,
        "prefer-template": 2,
        "import/no-unresolved": 2,
        "global-require": 0,
        "no-underscore-dangle": 2
    },
    "plugins": [
        "react"
      ],
     "globals": {
        "__DEVSERVER__": true,
        "__DEVCLIENT__": true,
        "google": true,
  }
}
