
.hover {
  transform: scale(2.5, 2.5);
  height: 23px;
  width: 23px;
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 2px 1px;
  border-radius: 100%;
  bottom: 1px;
  /*box-shadow: 0px 0px 10px 2px red inset;*/
  position: absolute;
  transform-origin: bottom;
  z-index: 10000;
  background-image: url("../../images/issue-icon.jpeg");
  cursor: pointer;
}

.noHover {
  transform: scale(1.5, 1.5);
  transform-origin: bottom;
  height: 23px;
  width: 23px;
  bottom: 1px;
  background-size: 19px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 2px 1px;
  border-radius: 100%;
  background-image: url("../../images/issue-icon.jpeg");
  cursor: pointer;
}
