
.hover {
  transform: scale(1.5, 1.5);
  height: 23px;
  width: 23px;
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 2px 1px;
  background-image: url("../../images/issue.png");
}

.noHover {
  transform: scale(1, 1);
  height: 23px;
  width: 23px;
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 2px 1px;
  background-image: url("../../images/issue.png");
}
